{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
    <style>
        /* Estilos personalizados para la descripción de la aplicación */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
        p {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Descripción de la Aplicación</h1>
    <div class="container">
        <p>
            En CriptoVisual presentamos una aplicación didáctica que combina técnicas de criptografía visual y marcas de agua para la protección de imágenes digitales en escala de grises. La aplicación proporcionará a los usuarios una plataforma intuitiva para cifrar sus imágenes, lo que garantizará la confidencialidad de los datos visuales sensibles. Además, la integración de marcas de agua permitirá la autenticación y trazabilidad de las imágenes, lo que facilitará la detección de cualquier intento de manipulación o uso no autorizado. El desarrollo de esta aplicación se basará en algoritmos de criptografía y técnicas de procesamiento de imágenes vistas en la clase de <em>Criptografía</em> impartida por el docente Agustín Moreno.
        </p>
        <h2>¿Cómo encriptamos imágenes?</h2>
        <p>
            La sección de criptografía visual opera transformando una imagen seleccionada por el usuario en una versión binaria y generando múltiples imágenes compartidas, también conocidas como "sombras" o "transparencias". Estas imágenes son fundamentales para la recuperación de la imagen original. El proceso de generación de estas imágenes implica una serie de expansiones en cada píxel de la imagen binaria, empleando un enfoque aleatorio dentro de un conjunto finito de posibilidades. Este método asegura que cada imagen compartida contenga información única, lo que, al combinarse con otras, permite la reconstrucción de una versión con distorsiones de la imagen original.
        </p>
        <p>
            El siguiente paso es guardar estas imágenes compartidas en el sistema de archivos, asegurando su persistencia para su posterior recuperación. Una vez que las imágenes compartidas están almacenadas, se realiza una operación de superposición. Esta operación combina las imágenes compartidas para recuperar la imagen original. Para lograr esto, se utiliza una técnica de "AND" a nivel de bits, que preserva los píxeles comunes entre las imágenes compartidas, descartando aquellos que no se repiten.
        </p>
        <p>
            Finalmente, el sistema devuelve las imágenes compartidas resultantes, así como la imagen original recuperada. Este enfoque ofrece una alternativa interesante a los métodos convencionales de encriptación, ya que aprovecha la naturaleza visual de las imágenes para salvaguardar la información sensible.
        </p>
        <h2>Marcas de agua</h2>
        <p>
            En la sección de marcas de agua nuestro objetivo es ocultar una imagen dentro de otra de forma imperceptibler  para el ojo humano. Para eso utilizaremos trasnformadas wavelets discretas como la DWT o la transformada de Haar, con lo cual buscamos ser capaces deocultar y despues recuperar ela información oculta de una imagen con marca de agua
        </p>
        <h2>Para más información</h2>
        <p>
            Acuda al siguiente reporte de investigación: https://es.overleaf.com/read/mjsscfbhfghb#716d32
        </p>
    </div>
{% endblock %}

